[Unit]
Description=Garage door monitor Soft Bypass. ohdBlinker.service
After=network.target

[Service]
ExecStart=/home/Your_User/ohd/blinker.py
WorkingDirectory=/home/Your_User/ohd/
StandardOutput=syslog
StandardError=syslog
User=Your_User
ExecStop = /bin/kill -2 $MAINPID

[Install]
WantedBy=multi-user.target
